@media (width >= 600px) {
  main .banner {
    padding: 0px;
  }
}
@media (width >= 900px) {
  .banner > div {
    max-width: unset;
  }
  .banner p {
    margin: 0;
  }
  .banner {
    max-height: 640px;
    overflow: hidden;
  }

}