@media (width >= 600px) {
  main .banner {
    padding:0;
    position: relative;
  }
   .banner .carousel-wrapper{
    position: absolute;
    top: -30px;
    left: 100px;
  }
  .carousel .carousel-slide .carousel-slide-content h2{
    font-size: 72px;
    font-family: serif;
    margin: 0;
    line-height: 0.9;
  }
  .carousel .carousel-slide .carousel-slide-content h2:first-child{
    color: #f7444e;
  }
  .carousel .carousel-slide .carousel-slide-content h2:nth-child(2){
    color: #002c3e;
  }
} 
@media (width >= 900px) {
  .banner > div {
    max-width: unset;
  }
  .banner p {
    margin: 0;
  }
  .carousel .carousel-slide .carousel-slide-content p{
    font-size: 16px;
    color: #0c0c0c;
    margin-top: 20px;
  }
  .banner {
    max-height: 620px;
    overflow: hidden;
  }
  /* 
  .section.cards-container{
    max-width: 1170px;
    margin: auto;
  }
  .section.cards-container #why-shop-with-us{
    text-align: center;
    font-family: serif;
  } */
}