@media (width >= 600px) {
  main .banner {
    padding:0;
    position: relative;
  }
   .banner .carousel-wrapper{
    position: absolute;
    top: -30px;
    left: 94px;
  }
  .carousel .carousel-slide .carousel-slide-content h2{
    font-size: 72px;
    font-family: serif;
    margin: 0;
    line-height: 0.9;
  }
  .carousel .carousel-slide .carousel-slide-content h2:first-child{
    color: #f7444e;
  }
  .carousel .carousel-slide .carousel-slide-content h2:nth-child(2){
    color: #002c3e;
  }
} 
@media (width >= 900px) {
  .banner > div {
    max-width: unset;
  }
  .banner p {
    margin: 0;
  }
  .carousel .carousel-slide .carousel-slide-content p{
    font-size: 16px;
    color: #0c0c0c;
    margin-top: 20px;
  }
  .banner {
    max-height: 620px;
    overflow: hidden;
  }
   
  .section.cards-container{
    max-width: 1170px;
    margin: auto;
    padding: 70px 0;
  }
  .section.cards-container h2{
    margin: 0;
  }

  .section.cards-container #why-shop-with-us{
    text-align: center;
    font-family: serif;
    font-size: 3.5 rem;
  }
  .section.cards-container #why-shop-with-us::after,.section.our-products .default-content-wrapper::after{
    content: "";
    display: block;
    width: 70px;
    height: 5px;
    background: #f7444e;
    margin: 10px auto 10px;
  }
  .section.new-arrivals{
    background-color: #d4ced0;
    padding: 0;
  }
  .section.new-arrivals .library-metadata-wrapper{
    max-width: 1170px;
    margin: auto;
    padding: 0 15px;
  }
  .section.new-arrivals .library-metadata.block{
    display: flex;
  }
  .section.new-arrivals .default-content-wrapper p{
    margin: 0;
  }
  .section.new-arrivals .library-metadata > div{
    width: 50%;
  }
  .section.new-arrivals .library-metadata img{
    height: 498px;
    object-fit: cover;
    object-position: left;
    padding-left: 16px;
  }
  .section.new-arrivals .library-metadata #newarrivals{
    font-family: serif;
    font-size: 3.5rem;
    font-weight: bold;
    color: #002c3e;
    margin-bottom:0px;
  }
  .section.new-arrivals .library-metadata > :last-child{
    margin-top: 20px;
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 30px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15px;
  }
  .section.new-arrivals .library-metadata .button{
    display: inline-block;
    padding: 10px 45px;
    background-color: #f7444e;
    font-weight: 400;
    border: 1px solid #f7444e;
    color: #ffffff;
    border-radius: 0;
    transition: all 0.3s;
    margin: 0;
    margin-bottom: 45px;
  }
  .section.new-arrivals .library-metadata > :last-child p{
    margin: 0;
  }
  .section.new-arrivals .library-metadata > :last-child p:first-child{
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .section.new-arrivals .library-metadata{
    max-height: 498px;
    overflow: hidden;
  }
  .section.our-products{
    padding: 68px 0;
  }
  .section.our-products .default-content-wrapper{
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 20px;
  }
  .section.our-products h2{
    font-size: 3.5rem;
    font-weight: bold;
    font-family: serif;
  }
  .section.our-products #products{
    color: #f7444e;
  }
  .section.our-products #our{
    margin-right: 13px;
  }
  .section.our-products .default-content-wrapper::after {
    position: absolute;
    bottom: -24px;
  }
  .section.our-products .cards > ul{
    grid-gap: unset;
  }
  .section.our-products .cards > ul > li{
    margin: 0 15px;
    margin-top: 25px;
    padding: 35px 35px;
    box-shadow: 5px 5px 5px -5px rgba(0,0,0,.2);
    border: solid #fff 10px;
    background-color: #f7f8f9;
  }
  .section.our-products .cards{
    margin-top: 45px;
  }
  .section.our-products .cards-card-body{
    margin: 10px 0;
    justify-content: space-between;
    display: flex;
  }
  .section.our-products .cards-card-body h5{
    margin: 0;
    font-size: 18px;
    font-family: montserrat;
    font-weight: 700;
    color: #0c0c0c;
  }
  .section.our-products .cards-card-body h6{
    font-weight: 600;
    margin: 0;
    color: #002c3e;
    font-size: 1rem;
  }
  .section.our-products .cards-card-image img{
    aspect-ratio: 5 / 3;
    object-fit: contain;
    margin: 25px 0;
  }
  .section.our-products .cards-card-body:nth-of-type(3){
    display: block;
  }
}
